:root {
  --primary-color: #2e2e2e;
  --secondary-color: #f7df1e;
  --secondary-color-darker: #dfc500;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body{
  color: white;
  margin: 20px;
  padding: 10;
  background-color: var(--primary-color);
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: sans-serif;
}

h1, h2 {
  color: var(--secondary-color);
  font-size: 2em;
  text-align: center;
}

.container {
  max-width: 740px;
  height: 120vh;

  margin: 50px auto 50px auto;
  padding: 20px;
}

form, form input, form label, form button{
  display: block;
  width: 100%;
  padding: 20px 0px;
  height: 50px;
  border-radius: 5px;
}

:placeholder-shown {
  font-size: 1.1em;
}

form input:focus{
  outline: 4px solid var(--secondary-color);
  
}

form button {
  border: none;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50px;
  width: 40%;
  margin: 40px auto;
}

form button:hover {
  background-color: var(--secondary-color-darker);
}

table {
  margin: 0 auto;
  width: 60%;
  font-size: 1.1em;
}

tr {
  display: flex;
  justify-content: space-between;
}

.acerto {
  background: rgb(5, 128, 44);
  background: linear-gradient(90deg, rgb(4, 155, 52) 50%,
  rgba(52,255,0,1) 70%);
  padding: 15px;
  border-left: 5px solid rgb(0, 211, 67);
}

.erro {
  background: rgb(196,0,0);
  background: linear-gradient(90deg, rgb(247, 15, 15) 5%,  rgb(196, 0, 0) 75%);
  padding: 15px;
  border-left: 5px solid #d50000cb;
}