<%- include('includes/head') %>


<section class="container">
  <h1>ola galerinha</h1>
  <h2><%= varLocal %> </h2>


  <form action="" method="post">
    <label>cliente</label>
    <input type="text" name="cliente">
  </form>
</section>

<%- include('includes/footer') %>
