<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Agenda</a>
    <div class="">
      <ul class="navbar-nav ms-auto">
        <% if (user) {%>
        <li class=" nav-item">
          <a class="nav-link" href="/contact">cadastrar contato</a>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="/account/logout">Sair</a>
        </li>
        <% } else { %>
        <li class=" nav-item">
          <a class="nav-link" href="/account">Entrar</a>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>